body {
  font-family: "Ubuntu", sans-serif;
}

footer {
  background-color: #39375b;
  font-family: "Ubuntu", sans-serif;
}

.info {
  font-size: 15px;
  color: white;
  padding-left: 7vw;
}

.info p {
  padding-top: 1em;
}

.icons {
  font-size: 30px;
  padding: 15px;
  text-align: center;
}

.icons a {
  color: white;
  text-decoration: none;
}
