header {
  background-color: #39375b;
}

header a {
  color: white;
}

header a:hover {
  color: #745c97;
}

header.fa-1x {
  font-size: 1.5rem !important;
}

.navbar-light .navbar-toggler {
  border-color: rgba(0, 0, 0, 0) !important;
}

.navbar-brand img {
  width: 15vw;
}

.dropdown-toggle::after {
  content: none;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #745c97;
}

.hamburger .nav-link.active,
.hamburger .show > .nav-link {
  color: white;
  background-color: transparent;
}

.hamburger .nav-link {
  padding: 0;
}

